*
{
    margin: 0;
    padding: 0;
}
body
{
    background-color: #f9f2f4;
    font-family: sans-serif;
}
.space
{
    margin: 32px;
    margin-top: 2rem !important;
}
li code {
    color: #050505;
    background-color: #f9f2f4;
    border-radius: 4px
}
p code
{
    color: #050505;
    background-color: #f9f2f4;
    border-radius: 4px 
}
#size{
    width: 90%;
    margin: 28px;
}
